.GenreButton {
    width: 100px;
    height: 50px;
    background-color: rgb(137 , 78 , 235);
    border-radius: 15px;
    font-size: 21px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}