.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    flex-grow: 1;
  }
  
  .btn-play {
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-image: url("../../assets/play.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .btn-stop {
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-image: url("../../assets/pause-button.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }