.Button {
    padding: 12px;
    background-color: rgb(159, 134, 251);
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.4s;
}

.Button:hover {
    cursor: pointer;
    background-color: rgb(250, 187, 246);
}